# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a3d99246422cdf1d4cc5e355f27ffc7086e56d46f0ba9a5bf3b92023b80eff84fcb80c997c61bd025f417d78f1dbf5d25f8d9ef045a914a5614008ea9cef4e53

test:
  secret_key_base: 9478653635b7f8fddd9fbcd763b0d7eb6d4447ec8bc862d61ebe1edc658f4b5812c56be6e31072086be24b597a1e1de8810a5226283b6ed6f4b5e503ceb56b86

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
