# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6338d1d91bfa7725af8f58862b5f182cbf5ada59ce67ac166faf7f99b6d8d464866b52d40f18fc4eae5550225dababbf8e1061d4015dfce71a1f68a11b8cc913

test:
  secret_key_base: ba933497878afc369f389cac21f97947d21de5dd32fe8b75387eef92e58ad0945a41516ecfddb1c2f35a2f44896d0714f52b2137536a06d083baaf10de0e1c1e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
